main {
    color: #F99417;
    }

body{
    margin: 0;
}

h1 {
    text-align: left;
    color: #F99417;
    background-color: #363062;
    padding: 1.5rem;
    margin: 0;
}

.navbar ul{
    list-style-type: none;
    padding: 0rem;
    margin: 0rem;
    overflow: hidden;
}
.navbar a{
    color: #F99417;
    padding: 1.5rem;
    display: block;
}

.navbar a:hover{
    background-color: #363062;
}
.navbar{
    background-color: #4D4C7D; 
}

.centre {  
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}
