
main {
    color: #F99417;
    display: inline-block;
    }
    
    
h1 {
    text-align: left;
    color: #F99417;
    background-color: #363062;
    padding: 15px;
    margin: 0;
}
.left , .right {
    background-color: #4D4C7D; 
}
.navbar ul{
    list-style-type: none;
    background-color: hs1(0,0%,25%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: #F99417;
    text-decoration: none;
    padding: 15px;
    display: block;
}
.navbar a:hover{
    background-color: #363062;
}
.navbar{
    background-color: #4D4C7D; 
    display: flex;
    justify-content: space-between;
}
.navbar li {display:inline-block}

.centre {  
    display: flex;
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}
